
 html {
   font-family: "Lato", sans-serif;
}
 
body {
      margin: 0;
      padding: 0;
     

}

.background
{
    height: 70px;
    width: 100%;
    background-image: url(hey.jpeg);
    background-repeat: no-repeat, repeat;
}

ul{
  position: absolute;
  top:5%;
  left: 899px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  width: 899px;
  
}
ul li
{
  list-style: none;
}

ul li a{
  position: relative;
  display: block;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  text-transform: : uppercase;
  text-decoration: none;
  transition: .5s;
  color: #b666d2;
}
ul li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #178fd6;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}
ul li a:hover:before{

    transform: scaleX(1);
    transform-origin: left;
}
ul li a:after
{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #178fd6;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}
ul li a:hover:after{

    transform: scaleX(1);
    transform-origin: right;
}





.logoH
{

position: absolute;
top: .0%;
left: 40px;
font-size: 13px;
opacity: .8;
}


.logoH2
{
  position: absolute;
  top: 7%;
  left: 10px;
}




.logos{

  position: absolute;
  top: 16px;
  left: 270px;
}



.section
{
  
}
.meet
{
  position: absolute;
  top:240px;
  left: 500px;
  font-size: 35px;
font-family: 'Lato', sans-serif;

}
.info
{
    position: absolute;
    left: 500px;
    top: 300px;
   background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(82, 82, 82);
    height: 278px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(82, 82, 82);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 764px;
    word-wrap: break-word;
    column-rule-color: rgb(82, 82, 82);
    perspective-origin: 382px 139px;
    transform-origin: 382px 139px;
    caret-color: rgb(82, 82, 82);
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(82, 82, 82);
    
    margin: 0px;
    outline: rgb(82, 82, 82) none 0px;
    padding: 0px 0px 17px;
    transition: none 0s ease 0s;
}


.space
{


  
    background-color: #696969;
   
    width: 100%;

    color: white;
    height: 90px;


    position: absolute;
    top: 700px;
  
}

.twitter{
  position: absolute;
     top: 15px;
  
   
  left: 620px;
    


}

.f{
   position: absolute;
   top: 15px;
   left: 672px;

  position: absolute;
    

}
.insta{

  position: absolute;
      top: 15px;
   left: 720px;
   
  

}

.copyright{

  top: 60px;
  position: absolute;
  left: 565px;
   bottom: 0;
   font-size: 12px;
    text-align: center;
}

.logoH3
{

position: absolute;
top: 15px;
left: 40px;
font-size: 13px;
opacity: .8;
}

.logoH4
{
  position: absolute;
  top: 64px;
  left: 20px;
}

.logos2{

  position: absolute;
  top: 35px;
  left: 270px;
}

.pointer {cursor: pointer;}









.picture
{
  position: absolute;
  top: 29px;
  left: 60px;
}