 html {
   font-family: 'Lato', sans-serif;
}
 
body {
      margin: 0;
      padding: 0;
     

}

.background
{
    height: 70px;
    width: 100%;
    background-image: url(hey.jpeg);
    background-repeat: no-repeat, repeat;
}

ul{
  position: absolute;
  top:5%;
  left: 899px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  width: 899px;
  
}
ul li
{
  list-style: none;
}

ul li a{
  position: relative;
  display: block;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  text-transform: : uppercase;
  text-decoration: none;
  transition: .5s;
  color: grey;
}
ul li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #178fd6;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}
ul li a:hover:before{

    transform: scaleX(1);
    transform-origin: left;
}
ul li a:after
{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0; 
  width: 100%;
  height: 2px;
  background: #178fd6;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}
ul li a:hover:after{

    transform: scaleX(1);
    transform-origin: right;
}





.logoH
{

position: absolute;
top: .0%;
left: 40px;
font-size: 13px;
opacity: .8;
}


.logoH2
{
  position: absolute;
  top: 7%;
  left: 10px;
}




.logos{

  position: absolute;
  top: 16px;
  left: 270px;
}

.Services
{
letter-spacing: 2px;
position: absolute;
top: 180px;
font-size: 40px;
left: 85px;
opacity: .8;
font-family: 'Lato', sans-serif;
}



  img 
  {
    border-radius: 20px;
  }

.containerz
{


position: absolute;
top: 300px;
left: 85px;
}

.ven
{

    position: absolute;
    top: 1070px;
    left: 120px;
 box-sizing: border-box;
    color: rgb(82, 82, 82);
    height: 174px;
    text-decoration: none solid rgb(82, 82, 82);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(82, 82, 82);
    perspective-origin: 382px 87px;
    transform-origin: 382px 87px;
    caret-color: rgb(82, 82, 82);
    border: 0px none rgb(82, 82, 82);
    font: normal normal 400 normal 17px / 29.75px Lato, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(82, 82, 82) none 0px;
    }
    .fact
    {
    position: absolute;
    top: 1220px;
    left: 120px;

    box-sizing: border-box;
    color: rgb(82, 82, 82);
    text-decoration: none solid rgb(82, 82, 82);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 82, 82);
    caret-color: rgb(82, 82, 82);
    border: 0px none rgb(82, 82, 82);
    font: normal normal 500 normal 40px / 19.8px Lato, sans-serif;
    outline: rgb(82, 82, 82) none 0px;
    }
  .ven1
  {
    position: absolute;
    top: 1320px;
   left: 120px;
    box-sizing: border-box;
    color: rgb(82, 82, 82);
    height: 150px;
    text-decoration: none solid rgb(82, 82, 82);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(82, 82, 82);
    perspective-origin: 359.5px 75px;
    transform-origin: 359.5px 75px;
    caret-color: rgb(82, 82, 82);
    border: 0px none rgb(82, 82, 82);
    font: normal normal 400 normal 17.5px / 30.625px Lato, sans-serif;
    margin: 0px;
    outline: rgb(82, 82, 82) none 0px;
  }
      .fact2
    {
    position: absolute;
    top: 1470px;
    left: 120px;

    box-sizing: border-box;
    color: rgb(82, 82, 82);
    text-decoration: none solid rgb(82, 82, 82);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 82, 82);
    caret-color: rgb(82, 82, 82);
    border: 0px none rgb(82, 82, 82);
    font: normal normal 500 normal 40px / 19.8px Lato, sans-serif;
    outline: rgb(82, 82, 82) none 0px;
    }

    .ven2
    {
      position: absolute;
      top: 1570px;
      left: 120px;
       box-sizing: border-box;
    color: rgb(82, 82, 82);
    height: 116px;
    text-decoration: none solid rgb(82, 82, 82);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(82, 82, 82);
    perspective-origin: 382px 58px;
    transform-origin: 382px 58px;
    caret-color: rgb(82, 82, 82);
    border: 0px none rgb(82, 82, 82);
    font: normal normal 400 normal 17px / 29.75px Lato, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(82, 82, 82) none 0px;
    }



       .fact3
    {
    position: absolute;
    top: 1670px;
    left: 120px;

    box-sizing: border-box;
    color: rgb(82, 82, 82);
    text-decoration: none solid rgb(82, 82, 82);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(82, 82, 82);
    caret-color: rgb(82, 82, 82);
    border: 0px none rgb(82, 82, 82);
    font: normal normal 500 normal 40px / 19.8px Lato, sans-serif;
    outline: rgb(82, 82, 82) none 0px;
    }


     .ven3
    {
      position: absolute;
      top: 1770px;
      left: 120px;
       box-sizing: border-box;
    color: rgb(82, 82, 82);
    height: 116px;
    text-decoration: none solid rgb(82, 82, 82);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(82, 82, 82);
    perspective-origin: 382px 58px;
    transform-origin: 382px 58px;
    caret-color: rgb(82, 82, 82);
    border: 0px none rgb(82, 82, 82);
    font: normal normal 400 normal 17px / 29.75px Lato, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(82, 82, 82) none 0px;
    }



     /*Appointments*/
.thick {
    font-weight: bold;
}

.container {
    
    text-align: center;
    
    

      }

  .active1 {
  display: inline-block;
  border-radius: 4px;
  background-color: transparent; ;
  border: none;
  color: gray;
  text-align: center;
  font-size: 13px;
   padding: 15px 32px;
  width: 280px;
  transition: all 0.5s;
  cursor: pointer;
 margin: 4px 2px;
 position: absolute;
  
    border-style: solid;
      border-color: #b666d2;
}

.active1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;


}

.active1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.active1:hover span {
  padding-right: 20px;

}

.active1:hover span:after {
  opacity: 1;
  right: 0;


}
.active1:hover{
  background-color: #b666d2;
  color: white;
}


/* Request and appointment Text alignment*/
.center{

      position: absolute;
    top: 2000px;
    left: 550px ;

    
}


.space
{


    bottom: 0;
    background-color: #696969;
   
    width: 100%;

    color: white;
    height: 90px;


    position: absolute;
  top: 2250px;
  
}

.twitter{
  position: absolute;
     top: 15px;
  
   
  left: 620px;
    


}

.f{
   position: absolute;
   top: 15px;
   left: 672px;

  position: absolute;
    

}
.insta{

  position: absolute;
      top: 15px;
   left: 720px;
   
  

}

.copyright{

  top: 60px;
  position: absolute;
  left: 578px;
   bottom: 0;
   font-size: 12px;
    text-align: center;
}

.logoH3
{

position: absolute;
top: 15px;
left: 40px;
font-size: 13px;
opacity: .8;
}

.logoH4
{
  position: absolute;
  top: 64px;
  left: 20px;
}

.logos2{

  position: absolute;
  top: 29px;
  left: 270px;
}



